If:
  PathMatch: ^(include/yorch|src|tests|examples|benchmarks)/.*

CompileFlags:
  CompilationDatabase: build/clangd
  Add:
    - -std=gnu++20
    - -Iinclude

Index:
  Background: Build

InlayHints:
  Enabled: true

Hover:
  ShowAKA: true
